<h1 class="text-center mb-4">Edit event</h1>

<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-sm-4">
            <label>Experts</label>
            <select class="form-control" formControlName="expertsId">
                <option [ngValue]="null">Select</option>
                <option [ngValue]="expert.id" *ngFor="let expert of experts | async">{{expert.name}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Title..." formControlName="title">
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="col-sm-4">
            <label>Init time</label>
            <input type="time" class="form-control" formControlName="initTime">
        </div>
        <div class="col-sm-4">
            <label>End time</label>
            <input type="time" class="form-control" formControlName="endTime">
        </div>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" rows="6" placeholder="Description..." formControlName="description"></textarea>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a routerLink="/schedules" class="btn btn-outline-purple w-100">
                Back
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-outline-success w-100" [disabled]="!scheduleForm.valid">
                Update
            </button>
        </div>
    </div>
</form>