<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <h1 class="navbar-brand mb-0">Event Scheduler</h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
            aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/experts">Experts</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/schedules">Calendar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>